* {
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat;
}

@font-face {
    font-family: Montserrat;
    src: url(./font/Montserrat-Medium.otf);
}

    header .account {
        background-color: #333333;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header .account .currency{
        color: #6c6c6c;
    }

    header .account .currency select {
        outline: none;
        background-color: #333333;
        border: none;
        color: #6d6d6d;
    }

    header .account .login {
        display: flex;
        justify-content: flex-end;        
    }

    header .account .login a,label {
        padding: 13.5px 17.5px;
        text-decoration: none;
        cursor: pointer;
        color: #6d6d6d;
    }

@media screen and (min-width:500px) {
    header .account .login .cart{
        margin-left: 60px;
    }  
}

header .account .login label{
    background-color: #00c8c8;
    color: #ffffff;
    margin-left: 2.5px;
}

header .account .login label :before {
    content: '';
    padding: 10px;
    margin-right: 20px;
    background-position: center;
    background-image: url(./0.common/cart1.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
}

header .account .login label :after {
    content: '⌄';
    margin-left: 5px;
    position: relative;
    bottom: 5px;  
}




    main {
        width: 100%;
        background-color: #f8f8f8;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 110px;
        color: #222222;
    }

    main .blue{
        color: rgb(0, 200, 200);
    }

    main .head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;     
    }

    main .head p{
text-transform: uppercase;
margin: 10px 0 0 30px ;
    }

    main .head .label{
        color: #222222;
    }


    @media screen and (min-width:500px) {
    main .head .label{
        width: 450px;
        font-size: 24px;
    }

}




    main .head span {
        font-weight: bold;
    }

    main .head nav {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 13px;
    }

    main nav ul {
        display: flex;
        align-items:center;
        justify-content: flex-end;
        padding: 0;
    }

    main .h {
        text-transform: uppercase;
    }

    main nav ul li {
        display: block;
        position: relative;
        right: 0;
        z-index: 3;
    }

    main nav ul li a {
        display: block;
        padding: 20px 5px;
        color: #3c3c3c;
        text-decoration: none;
    }

    main nav ul li section a{
        color: #9c9c9c;
    }

    main nav ul li section a.os{
        color: #575153;
    }

    main nav ul li a:hover {
        color: #00c8c8;
    }


    


    main nav input {
margin: 10px 100px 10px 100px;
outline: none;
background-color: transparent;
padding: 6.5px 10px;
font-size: 13px;
border: 1px solid #e7e7e7;
color: #989898;
background-image: url(./0.common/search.png);
    background-repeat: no-repeat;
    background-position: 95%;
    }

    @media screen and (max-width:1000px) {
        main nav input {
            margin: 10px;
        }
    }


    main nav ul ol {
        background-color: white ;
        display: none;
        position: absolute; 
        text-transform: capitalize;
        padding: 0;
    }

    main nav ul ol section {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
    }

    main nav ul ol section div {
        margin:20px;
        padding-right: 40px;
    }

    main nav ul ol section div a{
padding: 5px;
    }

    main nav ul ol .pic {
      background-color: #333333;
      margin: 10px; 
      padding: 30px 0;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }

    main nav ul ol li {
        white-space: nowrap;
    }

    main nav ul li:hover ol {
        display: block;
    }

    main nav ul ol li div {
        padding: 0;
        margin: 0;
    }

    main nav ul ol li .os {
        text-transform: uppercase;
        padding: 20px 5px;
        font-weight: bold;
    }

main.head{
    padding: 50px;
}


@media screen and (min-width:500px) {
    .title {
        background-image: url(./0.common/photo-1.jpg);
    width: 100%;
    height: 450px;
    }

    .title h1.ave{
        margin: 0;
        padding: 0;
        font-size: 450px;
        padding-top: 30px;
        position: relative;
        bottom: 23px;
    }

    @media screen and (max-width:1200px) {
        .title {
            background-image: url(./0.common/photo-1.jpg);
        width: 100%;
        height: 450px;
        
        }

        .title h1.ave{
            position: relative;
            top: 140px;
            font-size: 265px;
            z-index: 2;
        }
    
    }
    

    .title .dark{
        background-image: url(./0.common/darken.jpg);
        background-position: center;
        background-size: 100%;
        padding: 215px 50%;
        position: relative;
        bottom: 363px;    
    }

    

    @media screen and (max-width:1200px) {
        .title .dark{
            padding: 216px 50%;
            position: relative;
            bottom: 138px; 
        }
    }


    

    .title h2{
        margin-top: -390px;
    }

    @media screen and (max-width:1200px) {
        .title h2{
            margin-top: -250px;
            position: relative;
        }
    }

    
}

@media screen and (max-width:800px) {
    .title .dark{
        padding: 27% 50%;
        position: relative;
        bottom: 93px; 
    }

    .title h1.ave{
        position: relative;
        top: 140px;
        font-size: 220px;
        z-index: 2;
    }
}


.title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    user-select: none;
}

.title h1.ave{
    margin: 0;
    padding: 0;
    color: #45474c;
    padding-top: 30px;
    opacity: 0.22;
}

.title .dark{
    background-image: url(./0.common/darken.jpg);
    background-position: center;
    opacity: 0.65;   
    z-index: 1;
}

.title h2{
    padding-bottom: 55px;
    font-size: 48px;
    color: white;
    position: relative;
    z-index: 2;
}

.title h2 span{
    font-weight: normal;
}

.title h3{
    font-size: 30px;
    opacity: 1;
    position: relative;
    z-index: 2;
}



section.form{
    padding: 60px 15% 90px 15%;
}

section.form .blue{
    color: #00c8c8;
}



@media screen and (min-width:1050px) {
    section.form .f{
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
    }

    section.form .f form{
        width: 50%;
    }

    section.form .f form.sign-in{
        padding-right: 30px;
    }

    section.form .f form.reg{
        padding-left: 30px;
    }
}



section.form .f h4{
    text-transform: uppercase;
    font-size: 18px;
    color: #575153;
    padding-bottom: 40px;
}

@media screen and (max-width:1050px) {
section.form .f .sign-in{
    border-bottom: 1px solid #eeeeee;
}
}

@media screen and (min-width:1050px) {
section.form .f .reg{
    border-left: 1px solid #eeeeee;
}
}

section.form .f input.email,
section.form .f input.pass{
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid #eeeeee;
    color: #a0a0a0;
    outline: none;
}

section.form .f input.email:focus,
section.form .f input.pass:focus{
    border: 2px solid #bb5465;
    background-color: #fcf6f7;
}

section.form .f label{
    margin: 0;
    padding: 0;
}

section.form .f .sign-in .bottom{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

section.form .f .sign-in .bottom .sub{
        display: none;
}

section.form .f .sign-in .bottom p.button{
    padding: 20px 35px;
    border: 2px solid #737373;
    color: #737373;
    text-transform: uppercase;
}

section.form .f .sign-in .bottom p.button:hover{
    background-color: #00c8c8;
    color: white;
    border: 2px solid #00c8c8;
}

section.form .f .sign-in .bottom p.button:active{
    border: 2px solid white;
}

section.form .f .sign-in .bottom a.blue{
    padding-top:15px;
}

@media screen and (max-width:1050px) {
section.form .f .sign-in .bottom{
    padding-bottom: 30px;
}
}

section.form .f .reg input.checkbox{
    display: none;
}

section.form .f .reg span.checkbox{
    border: 1px solid #737373;
    padding: 0.4px 10px;
    background-color: white;
    margin-right: 15px;
}

section.form .f .reg .chb{
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}

section.form .f .reg label input:checked+span{
    background-image: url(./6.sign/check.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    background-color: #00c8c8;
}

section.form .f .reg .ch-text{
    font-size: 15px;
    color: #737373;
}

section.form .f .reg .buttons-reg{
display: flex;
justify-content: space-between;
align-content: flex-start;
padding-top: 20px;
}

section.form .f .reg .buttons-reg input{
    display: none;
}

section.form .f .reg .buttons-reg .create{
    padding: 20px 20px;
    border: 2px solid #737373;
    color: #737373;
    text-transform: uppercase;
    width: 40%;
}

section.form .f .reg .buttons-reg .create:hover{
    background-color: #00c8c8;
    color: white;
    border: 2px solid #00c8c8;
}

section.form .f .reg .buttons-reg .create:active{
    border: 2px solid white;
}

section.form .f .reg .buttons-reg .pr{
    width: 40%;
    margin-top: -5%;
}









footer {
    padding: 30px 10px;
    background-color: #f8f8f8;
    user-select: none;
}

@media screen and (min-width:500px){
    footer{
        padding: 30px 15%;
    }

footer .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .top div {
    text-align: start;
    width: 22%;
}

}

footer .top div h6 {
    text-transform: uppercase;
    padding: 35px 0;
}

footer .top a {
    text-transform: none;
    color: #7d7d7d;
    display: block;
    padding-bottom: 20px;
    font-size: 14px;
}

footer .top a:hover{
    opacity: 0.8;
}

footer .top .contact p{
    padding-bottom: 8px;
    color: #7d7d7d;
}

footer .top a.blue{
    color: #00c8c8;
}



@media screen and (min-width:500px){
    footer .bottom {
        margin-top:20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    } 

    footer .bottom .left {
        width: 49%;
    }

    footer .bottom .right{
        width: 49%;
    }

}




@media screen and (max-width:1000px){
    footer {
        padding: 30px 5%;
    }
}


footer .bottom {
    margin-top:20px;
}

footer .bottom .left .field{
    background-color: rgb(99, 96, 96);
    text-align: center;
    padding: 25px;
}

footer .bottom .left .field{
    height: 200px;
    padding: 10% 0;
    text-align: center;
}

footer .bottom .left .field input{
    display: none;
}

footer .bottom .left .field h2{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36px;
    padding: 2px;
}

footer .bottom .left .field .light{
    font-weight: normal;
}

footer .bottom .right{
    background-color: #00c8c8;
    margin-top: 18px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



footer .bottom .right .f a{
    background-image: url(./0.common/Facebook.png);
    background-repeat: no-repeat;
    background-position: center;
    padding:16px;
}

footer .bottom .right .t a{
    background-image: url(./0.common/Twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    padding:16px;
}

footer .bottom .right .i a{
    background-image: url(./0.common/insta.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120%;
    padding:12px 16px;
}

footer .bottom .right .p a{
    background-image: url(./0.common/Pinterest.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 90%;
    padding: 10px 16px;
}




footer .bottom .right label{
    padding: 0;
}

footer .bottom .right div {
    padding: 0 25px;
}











/* ТЕЛ. */
@media screen and (max-width:500px)  {
    *{
        box-sizing: border-box;
        margin: 0;
    }

    header .account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #6d6d6d;
    } 

    header .account .currency select {
        outline: none;
        background-color: transparent;
        color: #6d6d6d;
        border: none;
    }

    

    header .account .login {
        display: flex;
        justify-content: space-between;
    }

    header .account .login a,label {
        padding: 13.5px 2px;
        text-decoration: none;
        color: #6d6d6d;
        cursor: pointer;
    }
    
    header .account .login label{
        background-color: #00c8c8;
    }

    header .account .login label :before {
        margin-right: 10px;
    }


            main {
                height: 350px;
            }
            main .head p{
                text-transform: uppercase;
                margin: 10px;
            }
            main nav ul  {
                display: block;
                text-align: right;
                margin-right: 5px;
            }
            main nav ul input {
                margin-right: 0px;
                margin-left: 20px;
                width: 60%;
            }
            main nav ul ol {
                position: absolute;
                right: 65%;
            }
            main nav ul ol section{
                position: relative;
            }
            main nav ul ol section {
                background-color: white;
            }
            main nav ul ol section {
                display: block;
                text-align: center;   
            }
            main nav ul ol section div {
                margin:0px;
                padding:0 20px 20px 20px; 
            }
          
                .title {
                background-image: url(./0.common/photo-1mob.jpg);
                background-size: 100%;
                height: 830px;
            }
            
            .title .dark{
                position: relative;
                top: 230px;
                padding: 405px 50%;
            }
            
            .title h1.ave{
               position: relative;
               top: 680px;
               font-size: 120px;
               z-index: 2;
               opacity: 0.5;
            }
            
            .title h2{
                padding-top: 200px;
                font-size: 42px;
            }

            .title h3 {
                font-size: 24px;
            }


            section.form{
                padding: 60px 10px 120px 10px;
            }


            section.form .f .reg h4{
                padding-top: 20px;
            }

            



            footer .top {
                padding-left: 25px;
            }
        }