* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.body {
    background-color: rgb(250, 230, 180);
}

.button {
    user-select: none;
    padding: 10px;
    margin: 10px 0;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(230, 30, 30);
    border-color: rgb(230, 30, 30);
    border-radius: 10px;
}

.button:active {
    border-color: transparent;
}

.table {
    background-color: rgb(250, 225, 225);
    border: 1px black solid;
}

.td-cell {
    border: 1px black solid;
    padding: 0 5px;
    background-color: rgb(255, 240, 240);
}

.main-show-button {
    background-color: rgb(200, 225, 200);
}

.remove {
    border: transparent;
    margin: 5px;
    background-color: rgb(255, 240, 240);
}

.form {
    margin-top: 15px;
}

.add-input {
    width: 200px;
}

.add-input:active,
.add-input:focus {
    outline: transparent;
    border-color: transparent;
    background-color: rgb(255, 240, 240);
}

.add-button {
    margin: 15px auto;
    padding: 10px;
    width: 200px;
    background-color: rgb(150, 250, 225);
}

.before-input-text {
    font-size: 16px;
    margin: 5px 0;
}

.sort-button {
    background-color: rgb(200, 200, 200);
    margin: 10px 10px 20px 10px;
    width: 220px;
    padding: 10px;
}