* {
    box-sizing: border-box;
}

.body {
    background-color: chocolate;
}

.section-scrypt {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.text-input {
    width: 250px;
}

.div {
    padding: 10px;
    padding-bottom: 15px;
}

.text {
    max-width: 250px;
    word-wrap: break-word;
}

.div-crypt {
    background-color: rgb(225, 180, 130);
}

.div-decrypt {
    background-color: rgb(245, 245, 200);
}