    * {
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 100%;
    }
    
    body {
        background-image: url(./1.jpg);
        background-color: rgb(30, 30, 30);
    }
    
    #elem {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30%;
        padding: 110px;
        background-image: url(./TT4N1ETa.jpg);
        background-position-x: left;
        background-position-y: bottom;
    }
    
    p {
        align-items: center;
        text-align: left;
        color: rgb(100, 220, 50);
        font-size: 16px;
        position: absolute;
        left: 0;
        bottom: 20px;
        margin: 0 5% 3% 10%;
    }
    
    @media screen and (max-width:1100px) {
        body {
            background-size: 1100px;
            background-position-x: -150px;
        }
        p {
            bottom: 15px;
            font-size: 12px;
        }
    }
    
    @media screen and (max-width:700px) {
        body {
            background-size: 800px;
            background-position-x: -150px;
        }
    }
    
    @media screen and (max-width:450px) {
        body {
            background-size: 500px;
            background-position-x: -100px;
        }
        #elem {
            width: 100%;
        }
    }
    
    @media screen and (max-width:300px) {
        body {
            background-size: 300px;
            background-position-x: -50px;
            background-position-y: 100px;
        }
    }