* {
    box-sizing: border-box;
}

.body {
    margin: 20px;
    border: 2px solid rgb(200, 200, 200);
    background-color: rgb(225, 225, 225);
}

.credit-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.count-month {
    width: 200px;
}

.div {
    margin-right: 10px;
}

.text {
    text-align: center;
}

.table-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.table {
    border: 1px black solid;
    border-radius: 3px;
}

.table-title {
    background-color: rgb(255, 245, 225);
}

.input-text {
    border-radius: 3px;
    outline: none;
    border-color: rgb(200, 200, 200);
}

tr {
    text-align: center;
}

td {
    border: 1px black solid;
    border-radius: 3px;
    min-width: 100px;
}

.lostSum {
    background-color: rgb(225, 200, 175);
}

.result-button {
    background-color: rgb(225, 200, 175);
    border-color: rgb(200, 200, 200);
    border-radius: 3px;
    padding: 0 5px;
}